---
- name: Resolve platform specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_facts["distribution"] }}-{{ ansible_facts["distribution_release"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'
- name: Look for install in {{ trident_install_dir }}
  become: true
  ansible.builtin.stat:
    path: '{{ trident_install_dir }}'
  register: trident_binary
- name: Downloading and installing tridentctl
  when: not trident_binary.stat.exists
  block:
    - name: Downloading {{ trident_url }}...
      become: true
      become_user: root
      ansible.builtin.get_url:
        url: '{{ trident_url }}'
        dest: '{{ trident_installer_tmp_tgz }}'
        checksum: '{{ trident_checksum }}'
        mode: '644'

    - name: Mkdir {{ trident_install_dir }}
      become: true
      become_user: root
      ansible.builtin.file:
        path: '{{ trident_install_dir }}'
        state: directory
        mode: '755'
    - name: Installing andrewrothstein.unarchivedeps
      ansible.builtin.include_role:
        name: andrewrothstein.unarchivedeps
    - name: Unarchive {{ trident_installer_tmp_tgz }}
      become: true
      become_user: root
      ansible.builtin.unarchive:
        remote_src: true
        src: '{{ trident_installer_tmp_tgz }}'
        dest: '{{ trident_install_dir }}'
        creates: '{{ trident_fq_exe }}'
  always:
    - name: Rm {{ trident_installer_tmp_tgz }}
      become: true
      become_user: root
      ansible.builtin.file:
        path: '{{ trident_installer_tmp_tgz }}'
        state: absent
- name: Linking {{ trident_link }} to {{ trident_fq_exe }}
  become: true
  become_user: root
  ansible.builtin.file:
    src: '{{ trident_fq_exe }}'
    dest: '{{ trident_link }}'
    state: link
